* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0;
}

.scrollArea {
  width: 80px;
  height: 100vh;
  border-right: 1px rgba(192, 192, 211, 0.2) solid;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1200;
}

.drawer {
  height: 79px;
  width: 100%;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
  color: #081c3a;
  font-size: 40px;
  flex-shrink: 0;
  /* Prevent from shrinking */
  background-color: white;
}

.barBox {
  height: 478px;
  /* Subtracting the heights of .drawer and .social */
  margin: 30px auto;
  width: 4px;
  background-color: rgba(192, 192, 211, 0.2);
  border-radius: 2px;
}

.bar {
  height: 20%;
  width: 4px;
  border-radius: 2px;
  background-color: #d2d2e0;
}

.social {
  height: 150px;
  flex-shrink: 0;
  /* Prevent from shrinking */
}

.social li {
  list-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  background-color: rgba(174, 174, 192, 0.1);
  margin: 15px auto;
  display: flex;
  /* Make it a flex container */
  align-items: center;
  /* Center children vertically */
  justify-content: center;
}

.social li img {
  width: 15px;
  height: 15px;
  object-fit: cover;
  display: inline-block;
  color: grey;
}

.box1 {
  width: 100%;
  height: 100vh;
  background-image: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dcd3355581e17e093caed_011.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.overLay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.container1 {
  margin: 0 auto;
  width: 1320px;
  position: relative;
}

.circles .outtercircle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: dashed 1px rgba(192, 192, 211, 0.5);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1130px;
  top: 320px;
  cursor: pointer;
}

.circles .innercircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px rgba(192, 192, 211, 0.5);
  background-color: rgba(192, 192, 211, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles .innercircle .play {
  color: white;
}

.circles {
  position: relative;
}

.circles .bigHiddenCircle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: solid 20px rgba(192, 192, 211, 0.2);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1000px;
  top: 190px;
  transform-origin: center center;
  opacity: 0;
  transition: 1s;
}

.hiddenSmall {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  border: solid 20px rgba(192, 192, 211, 0.5);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: 1s;
}

.hiddenSmall video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 1;
  transition: 1s;
}

.bigHiddenCircle video {
  pointer-events: none;
}

.middle {
  position: absolute;
  top: 200px;
  left: 200px;
}

.middle .family {
  font-size: 11px;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.middle .plan {
  font-size: 68px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  width: 550px;
  margin-bottom: 30px;
}

.navContact {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  border-style: none;
  color: #081c3a;
  font-family: Inter, sans-serif;
  background-color: #fff;
  letter-spacing: 3px;
  transition: 1s;
  scale: 1;
}

.navtop {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 10;
}

.back {
  width: 100%;
  height: 80px;
  position: absolute;
  top: -80px;
  left: 0;
  background-color: white;
  z-index: -1;
}

.navtop .covilla {
  font-family: Eudoxussans, sans-serif;
  font-size: 22px;
  /* color: #081c3a; */
  color: #fff;
}

.morePage {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}

.morePage h2 {
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: #081c3a;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.navshow {
  width: 452px;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  /* 父相子绝，父是box1 */
  position: absolute;
  top: 50px;
  right: 150px;
  color: black;
  list-style: none;
  scale: 0.8;
  transition: 1s;
  /* opacity: 0; */
  display: none;
}

.navshowItem {
  float: left;
  width: 218px;
  height: 96px;
  margin-right: 5px;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  padding-left: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}

.navshowItem .country {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #081c3a;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.vaca {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  color: #081c3a;
}

.navBtn {
  letter-spacing: 3px;
  font-size: 11px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  border: solid rgba(192, 192, 211, 0.5) 0.3px;
  border-radius: 5px;
  vertical-align: middle;
  color: #fff;
}

.navBtn span {
  display: inline-block;
  font-size: 1.5em;
  padding-left: 5px;
  /* color: #081c3a; */
  color: #fff;
  padding-bottom: 7px;
  box-sizing: border-box;
}

/* navTop 和box1结束 */

.box2 {
  width: 100%;
  overflow: hidden;
  margin-top: 140px;
  margin-bottom: 70px;
}

.container2 {
  width: 100vw;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  height: 800px;
}

.box2 .head1 {
  font-size: 11px;
  color: #081c3a;
  font-family: Inter, sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  width: 100vw;
}

.box2 .head2 {
  font-size: 42px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #081c3a;
  margin-top: 30px;
  text-align: center;
  width: 100vw;
}

.box2inner .eachInner {
  position: relative;
  margin: 0 20px;
}

.box2inner .eachInner h5 {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-family: Inter, sans-serif;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.box2inner .eachInner h1 {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.box2inner {
  position: relative;
  top: 120px;
  left: 0;
  display: flex;
  transition: 0.5s;
  padding-top: 20px;
}

.container2 .buttons {
  position: absolute;
  top: calc(100% + 250px);
  left: calc(50% - 60px);
  width: 140px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.container2 .buttons .arrow {
  color: #081c3a;
  width: 20px;
  display: inline-block;
  scale: 1.3;
}

.box2inner img {
  width: 680px;
  height: 400px;
  margin: 20px;
  transform: scale(1);
  transition: 1s;
  border-radius: 5px;
}

.prev,
.next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  box-shadow: inset 0 0 5px rgba(192, 192, 211, 0.3);
}

.box3 {
  /* height: 1173px; */
  width: 100%;
  background-color: #f7f8fc;
}

.container3 {
  margin: 0 auto;
  width: 1320px;
  padding: 140px;
  padding-top: 0px;
}

.container3 .top {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  position: relative;
}

.container3 .left {
  width: 475px;
  margin-top: 10px;
}

.container3 .left .title {
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.container3 .left h3 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  color: #081c3a;
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 30px;
}

.container3 .left .long {
  color: #516381;
  font-size: 19px;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 40px;
}

.box3btn {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #3572ff;
  font-size: 11px;
  letter-spacing: 3px;
  color: #fff;
  border-style: none;
}

.box3btn::after {
  content: "⌵";
  margin-left: 8px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 15px;
}

.rightImage {
  background-image: url(https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6075041a5cc5c760b623c7e7_Travel004.jpeg);
  background-size: cover;
  height: 437px;
  width: 725px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.container3 .bottom .title {
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.allCards {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
}

.cardItem:first-child {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.cardItem:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.container3 .bottom .cardItem {
  flex-grow: 1;
  background-color: #fff;
  text-align: left;
  padding: 30px 36px;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  transition: 1s;
  scale: 1;
}

.container3 .bottom .cardItem p {
  width: 256px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #516381;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 15px;
}

.container3 .bottom .cardItem h3 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #081c3a;
  padding-top: 50px;
  box-sizing: border-box;
}

.aBorder {
  width: 1105px;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  display: inline-block;
  padding-left: 5px;
  margin-left: 15px;
  vertical-align: middle;
}

.box3show {
  width: 452px;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  /* 父相子绝，父是.container3 .tops */
  position: absolute;
  top: 540px;
  right: 870px;
  color: black;
  list-style: none;
  transition: 1s;
  scale: 0.8;
  opacity: 0;
  z-index: 2;
}

.box3showItem {
  float: left;
  width: 218px;
  height: 96px;
  margin-right: 5px;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  padding-left: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 1px rgba(192, 192, 192, 0.4);
}

.box3showItem .country {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #081c3a;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.circle {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.5);
  border-radius: 100%;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardItem .icon {
  width: 26px;
  height: 26px;
}

.vaca {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  color: #081c3a;
}

.box4 {
  width: 100%;
  height: 902px;
  background-image: url(https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6074ef622e17622ba2a018a4_Villa0017.jpeg);
  background-size: 100%;
  /* 0px 是相对左边缘，-90是相对上边 */
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 2s ease;
}

.box4:hover {
  background-size: 110%;
}

.overLay4 {
  width: 100%;
  height: 902px;
  background-color: rgba(15, 19, 38, 0.55);
}

.container4 {
  margin: 0 auto;
  width: 1320px;
}

.middle4 {
  width: 600px;
  height: 185px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.middle4 p {
  color: #fff;
  line-height: 1.6em;
  font-weight: 400;
  font-family: Inter, sans-serif;
  font-size: 19px;
  text-align: center;
}

.middle4 h3 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
  padding-top: 30px;
}

.container5 {
  width: 1268px;
  margin: 0 auto;
  position: relative;
  bottom: 120px;
  margin-top: 50px;
  padding: 48px;
  background: white;
  z-index: 1;
  border-radius: 8px;
}

.container4 h4 {
  width: 1364px;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 410px;
  box-sizing: border-box;
  position: relative;
  left: -17px;
}

.border4 {
  width: 1100px;
  border: solid rgba(192, 192, 211, 0.3) 0.3px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
}

/* 装4个tab的盒子 */

.cityName {
  display: flex;
  justify-content: space-around;
  color: #516381;
  font-size: 12px;
  letter-spacing: 3px;
  font-family: Inter, sans-serif;
  margin-bottom: 20px;
}

.box {
  width: 1268px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  position: relative;
  margin-bottom: 60px;
}

.tab {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 圆形边框 */

.border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px solid #081c3a;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 1s;
  background-color: #fff;
}

/* 圆形边框内的小点 */

.box5inner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(192, 192, 211, 0.3);
  transition: 1s;
}

.lineBox {
  width: 1268px;
  height: 2px;
  background-color: rgba(192, 192, 211, 0.3);
  position: absolute;
  top: 28px;
  left: 0px;
  /* z-index没起作用 */
  z-index: -1;
}

.line {
  width: 25%;
  background-color: #081c3a;
  height: 2px;
  transition: 1s;
}

.slide {
  display: flex;
  justify-content: space-around;
}

.content {
  display: none;
  /* opacity: 0;
  transition: 1s; */
}

.slide .card {
  width: 398px;
  height: 468px;
  border: rgba(192, 192, 211, 0.3) solid 1px;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 10px;
}

.cardTop img {
  width: 360px;
  height: 250px;
  border-radius: 10px;
}

.cardTop h3 {
  color: #081c3a;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cardTop p {
  color: #516381;
  font-size: 14px;
  line-height: 1.4em;
  font-family: Inter, sans-serif;
  margin-left: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  max-width: 300px;
}

.cardBottom {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: rgba(192, 192, 211, 0.3) solid 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.cardBottom .left h5 {
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 8px;
  font-family: Inter, sans-serif;
  color: #081c3a;
  margin-bottom: 3px;
}

.cardBottom .left p {
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, sans-serif;
  color: #081c3a;
}

.cardBottom button {
  background-color: transparent;
  padding: 10px 20px;
  border-color: rgba(192, 192, 211, 0.3);
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  color: #081c3a;
}

.box6 {
  background-image: url(https://assets.website-files.com/60675f13ea324fdd4af9ef2a/607b6ec5eba5a81fd8c62ddd_031.jpeg);
  height: 613px;
  width: 100%;
  background-position: 0px -250px;
  background-repeat: no-repeat;
  margin-top: -50px;
  background-size: 100%;
  margin-bottom: 150px;
  transition: background-size 3s ease;
}

.box6:hover {
  background-size: 110%;
}

.overLay6 {
  background-color: rgba(15, 19, 38, 0.55);
  height: 613px;
  width: 100%;
}

.container6 {
  width: 750px;
  margin: 0 auto;
}

.container6 h5 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}

.container6 h1 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.container6 .spans {
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.container6 .span1 {
  background-color: #fff;
  color: #081c3a;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  width: 176px;
  padding: 20px 0px;
}

.container6 .span2 {
  color: #fff;
  text-align: center;
  width: 176px;
  background-color: transparent;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  border: solid 1px rgba(192, 192, 211, 0.4);
  padding: 20px 0px;
}

.box7 {
  width: 100%;
  margin-bottom: 150px;
}

.container7 {
  width: 1364px;
  height: 610px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container7 .left {
  width: 462px;
  padding: 18px;
  padding-bottom: 36px;
  border: solid 1px rgba(192, 192, 211, 0.2);
  background-color: rgba(192, 192, 211, 0.1);
  border-radius: 5px;
}

.container7 .left .img {
  background-image: url(https://assets.website-files.com/60675f13ea324fdd4af9ef2a/607b6c801c6cc62928080d5c_Family003.jpeg);
  width: 462px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.container7 .left h3 {
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 30px;
}

.container7 .left h1 {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #081c3a;
  padding: 20px 0px;
}

.container7 .left p {
  color: #516381;
  font-size: 19px;
  line-height: 1.6em;
  font-weight: 400;
  font-family: Inter, sans-serif;
  padding-bottom: 25px;
}

.container7 .left button {
  background-color: #3572ff;
  color: #fff;
  padding: 20px 32px;
  border: solid 1px transparent;
  border-radius: 5px;
  font-family: Inter, sans-serif;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.container7 .right {
  overflow: auto;
}

.greyCircle {
  width: 58px;
  height: 58px;
  background-color: #f7f8fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(192, 192, 211, 0.2);
  color: #516381;
  font-weight: 700;
}

.padding18 {
  padding: 0px 18px;
}

.container7 .eachCard {
  width: 544px;
  height: 247px;
  padding: 36px;
  border: 1px solid rgba(192, 192, 211, 0.4);
  border-radius: 5px;
  margin-bottom: 55px;
}

.container7 .right h3 {
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border7 {
  border-bottom: solid rgba(192, 192, 211, 0.4) 0.3px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
  width: 476px;
}

.container7 .right h2 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: rgba(8, 28, 58, 1);
  padding-top: 55px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.container7 .right p {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.box8 {
  width: 100%;
  background-color: rgba(192, 192, 211, 0.1);
}

.container8 {
  width: 1320px;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 80px;
}

.flex8 {
  display: flex;
  justify-content: space-between;
}

.container8 h3 {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  color: #081c3a;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.flex8 .left {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0.04px;
  color: #081c3a;
  width: 600px;
}

.container8 .right p {
  font-family: Inter, sans-serif;
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
  width: 522px;
}

.container8 .right {
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box9 {
  width: 100%;
  background-color: #f7f8fc;
  transition: all 5s;
}

.box9 ul {
  list-style: none;
  display: flex;
}

.box9 ul li {
  width: 447px;
  height: 447px;
  list-style: none;
}

.box9 ul li img {
  width: 447px;
  height: 447px;
  display: block;
  object-fit: cover;
}

.box10 {
  width: 100%;
  background-color: #f7f8fc;
}

.container10 {
  width: 1330px;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 80px;
  margin: 0 auto;
}

.border10 {
  border-bottom: solid rgba(192, 192, 211, 0.4) 0.3px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  width: 950px;
}

.container10 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.container10 .top h3 {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  color: #081c3a;
}

.agentCard {
  display: flex;
  justify-content: space-between;
  border: solid rgba(192, 192, 211, 0.4) 0.3px;
  border-radius: 10px;
  background-color: #fff;
}

.eachAgent {
  flex-grow: 1;
  padding: 18px 18px;
  padding-bottom: 30px;
  transition: 1s;
  background-color: #fff;
  border-radius: 10px;
}

.eachAgent img {
  width: 293px;
  height: 325px;
  object-fit: cover;
  border-radius: 5px;
}

.eachAgent .name {
  color: #081c3a;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
  padding: 20px 20px;
}

.eachAgent .city {
  color: #516381;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.box11 {
  width: 100%;
  margin-bottom: 200px;
}

.container11 {
  width: 1224px;
  padding: 48px;
  padding-bottom: 0px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.container11 .picDiv {
  background-image: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dcc73e99d454e25eb062b_post001.jpeg);
  background-repeat: no-repeat;
  background-size: 150%;
  width: 653px;
  height: 652px;
  border-radius: 10px;
  position: relative;
  background-position: center;
}

.container11 .kidBox {
  background-color: #fff;
  position: absolute;
  bottom: -60px;
  left: 20px;
  border-radius: 10px;
  width: 509px;
  padding: 36px;
  padding-top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.kidBox h2 {
  color: #081c3a;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
  padding: 25px 0px;
}

.kidBox p {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
  padding-bottom: 30px;
}

.kidBox button {
  padding: 9px 18px;
  border: solid 1px rgba(192, 192, 211, 0.2);
  border-radius: 3px;
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}

.kidBox span {
  padding: 8px 12px;
  position: relative;
  top: -10px;
  background-color: #fff;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #081c3a;
  font-family: Inter, sans-serif;
  border-radius: 5px;
}

.eachPost img {
  width: 151px;
  height: 132px;
  object-fit: cover;
  border-radius: 5px;
}

.container11 .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.container11 .right {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container11 .right h4 {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  color: #081c3a;
}

.border11 {
  border-bottom: solid rgba(192, 192, 211, 0.4) 0.3px;
  display: inline-block;
  width: 344px;
}

.eachPost {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.eachPost .info h5 {
  padding: 8px 12px;
  font-family: Inter, sans-serif;
  color: #081c3a;
  align-items: center;
  border-radius: 5px;
  background-color: #f7f8fc;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 119px;
  font-weight: 500;
}

.info {
  padding: 18px;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.eachPost .info p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
  color: #081c3a;
  width: 260px;
}

.container11 .allPosts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  width: 100%;
  border-top: solid rgba(192, 192, 211, 0.2) 1px;
  margin-left: 80px;
}

.footerContainer {
  width: 1364px;
  height: 82px;
  margin: 0 auto;
  padding-left: 36px;
  padding-top: 48px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.footerContainer .left {
  width: 537px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footerContainer .left h4 {
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;
}

.footerContainer .right h1 {
  line-height: 20px;
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-weight: 500;
}

.footerContainer .right h5 {
  color: #516381;
  font-size: 12px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.footerContainer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
